I will add this to the tex later.

Non-Functional requirements

1) scalability
-should be able to handle multiple running practicles symotanously
-Performance should not be dependent on the amount of active users

2) availability
there will be a 3 levels of previleges:students,markers,lecturers
-students will only be able to view marks
-uploading of practicle marks by markers should only be availible when the practicle starts until a time specified by the lecturers
-editing marks will only be availible for lecturers
-audit trails can only be viewed by lecturers
-audit trails cannot be modified by anyone

3) Authentication
-all users first have to login

4)Audit-ability
-all actions by all users will be added in the audit trails
-audit trails will include:
	-login/logout of users
	-modifications of data

7 Open issues

-Theft/loss of mobile devices
-user errors like typos
